body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: rgb(24, 24, 24);
  font-family: Helvetica, Arial, sans-serif;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: rgb(242, 242, 242);
}

.sidebar>.element {
  display: block;
  width: 80%;
  height: 100px;
  margin: 20px 10% 0 10%;
  padding: 0;
  background: #ffffff96;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar>.element.selected {
  background: #007aff;
  color: #fff;
}

.sidebar>.element>.name {
  font-size: 18px;
  padding: 15px 0 3px 15px;
}

.sidebar>.element>.description {
  opacity: .5;
  padding: 0 0 5px 15px;
  font-size: 11px;
}

.sidebar>.element>.loader {
  width: 84%;
  padding: 0px 8%;
  height: 11px;
}

.sidebar>.element>.loader>.bar {
  width: 70%;
  height: 6px;
  display: inline-block;
  border-radius: 10px;
  background: #efefef;
}

.sidebar>.element.selected>.loader>.bar {
  background: #efefef33;
}

.sidebar>.element>.loader>.bar>.fill {
  height: 100%;
  background: black;
  border-radius: 10px;
}

.sidebar>.element>.loader>.bar.orange>.fill {
  background: orange;
}

.sidebar>.element>.loader>.bar.red>.fill {
  background: red;
}

.sidebar>.element>.loader>.bar.green>.fill {
  background: green;
}

.sidebar>.element.selected>.loader>.bar>.fill {
  background: #fff;
}

.sidebar>.element>.loader>.percentage {
  display: inline-block;
  font-size: 8px;
  width: 27%;
  text-align: right;
  opacity: .7;
}

.content {
  position: absolute;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(250, 250, 250);
  visibility: visible;
  opacity: 1;
}

.content.hidden {
  visibility: hidden;
  opacity: 0;
}

.content>.headline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
}

.content>.headline>.updated {
  position: absolute;
  top: 35px;
  right: 35px;
  opacity: .5;
}

.content>.headline>.name {
  display: block;
  font-size: 32px;
  margin: 35px 0 10px 40px;
}

.content>.headline>.info {
  display: block;
  margin-left: 40px;
}

.content>.headline>.info>.block {
  display: inline-block;
  margin-right: 15px;
  opacity: .5;
}

.content>.containers {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
}

.content>.containers>.item {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #00000021;
}

.content>.containers>.item.title {
  opacity: .5;
}

.content>.containers>.item>div {
  display: inline-block;
  width: 20%;
}

.content>.containers>.item>.name {
  margin-left: 40px;
}

.content>.containers>.item>.actions>.button {
  display: inline-block;
  padding: 7px 14px;
  background: #f3f3f3;
  border: 1px solid #cecece;
  border-radius: 7px;
  margin-right: 8px;
}
